body {
  background-color: white;
  margin-left: 0px;
  margin-top: 0px;
}
#header {
  background-color:  #EEEEEE;
  width: 100.8%;
  height: 60px;
  position: relative;
}
#title {
  font-size: 30px;
  top: 20px;
  font-size: 30px;
  position: absolute;
  z-index: 2;
  left: 10px;
  top: 10px;
}
#search, #search_n, #tps, #tps_n, #trip_log, #found, #found_n {
  position: absolute;
  top: 15px;
  font-size: 20px;
}
#search {
  left: 200px;
}
#search_n {
  left: 300px;
}
#found {
  left: 350px;
}
#found_n {
  left: 420px;
}
#tps {
  left: 480px;
}
#tps_n {
  left: 535px;
}
#trip_log {
  left: 90%;
}
#target_text {
  font-size: 20px;
}
#target {
  width: 300px;
  height: 30px;
  text-align: center;
  margin-left: 10px;
}
#thread_n {
  text-align: center;
  left: 700px;
  top: 52px;
  font-size: 18px;
}
#target_table {
  position: absolute;
  left: 30%;
  top: 100px;
  z-index: 1;
}
.log_screen {
  display: none;
}
.log_table td, tr, th{
  border: 1px black solid;
}
.log_table td {
  width: 150px;
}
.search_table {
  table-layout: fixed;
}
.search_table td, tr, th{
  position: relative;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0.5px;
  width: 100px;
  height: 45px;
}
.search_tr, .search_td, .search_th{
  border: 1px black solid;
  text-align: center;
  width: 50px;
}
.pwd_cell {
  width: 100px;
}
.trip_cell {
  width: 140px;
}
.pause_cell {
  border: 1px black solid;
  text-align: center;
  width: 25px;
  padding-top: 1px;
}

.timeout_input {
  text-align: center;
}